.restart-button {
    font-family: 'Lucida Console', sans-serif;
    transition-duration: 1s;

    margin-top: 10px;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #F5A65B;
    border-radius: 2px;
    border-color: rgb(197, 125, 76);
    border-style: solid;
}

.restart-button:hover {
    transition-duration: 0.3s;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.2);
}